<div class="card">
  <div class="card-header bg-primary">
    Create new message
  </div>
  <div class="card-block">
    <form [formGroup]="blogFormNewMessage" novalidate>
        <div class="form-group">
          <label class="col-md-4">Title</label>
          <input type="text" class="form-control" formControlName="title" [(ngModel)]="message.title"/>
        </div>
        <div class="form-group">
          <label class="col-md-4">Author</label>
          <input type="text" class="form-control" formControlName="author" [(ngModel)]="message.author"/>
        </div>
        <div class="form-group">
          <label class="col-md-4">Text</label>
          <input type="text" class="form-control" formControlName="text" [(ngModel)]="message.text"/>
        </div>
        <div class="form-group">
          <button (click)="createMessage(message)" [disabled]="blogFormNewMessage.pristine || blogFormNewMessage.invalid || isCreating" class="btn btn-primary">Create Message</button>
        </div>
    </form>
  </div>
</div>
